@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    width: 100%;
    height: 100%;
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 450px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.card {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    margin: 15px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 7px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
}

.card h3 {
    font-size: 1.2em;
    color: #4e4e4e;
    text-align: center;
}

.card h2 {
    font-size: 1.4em;
    text-align: center;
    margin-top: 0px;
}

.card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card form .caption {
    margin: 5px 5px 5px 5px;
    text-align: center;
    color: #919191;
}
.card form input[type="text"] {
    border: 1px solid #e0e0e0;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    background-color: #fcfcfc;
    font-size: 1.1em;
    max-width: 200px;
    text-align: center;
}

.card form input[type="text"]:focus {
    border: 1px solid rgb(0, 202, 84);
}

.card form input[type="submit"] {
    margin: 10px;
    background-color: rgb(0, 202, 84);
    border: 0;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-size: 1.1em;
    color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
}

.card form input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(1, 163, 68);
}